* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.left {
    width: 25%;
    padding: 13px;
}

.home {
    padding: 14px;
}

.home ul li {
    list-style: none;
    width: 24px;
    display: flex;
    gap: 20px;
    padding-top: 18px;
    font-weight: bold;
}

.heading {
    list-style: none;
    width: 100%;
    display: flex;
    gap: 20px;
    padding-top: 18px;
    padding: 27px 18px;
    font-weight: bold;
    align-items: center;
}

.heading img {
    width: 25px;
}

.library {
    min-height: 70vh;
    position: relative;
}

.footer {
    display: flex;
    gap: 4px;
    position: absolute;
    bottom: 20px;
}

.footer a {
    color: gray;
    font-size: 11px;
}

.right {
    width: 75%;
    margin: 19px 0;
    max-height: 100vh;
    /* overflow: scroll; */
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #343434;
    height: 75px;
}

.header>* {
    padding: 20px;
}

.SonnetraPlaylists {
    padding: 19px;
}

.cardcontainer {
    display: flex;
    margin: 20px;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 55vh;
}

.card {
    width: 175px;
    padding: 5px;
    background-color: #685f5f25;
    border-radius: 5px;
    position: relative;
}

/* .card > *{
    padding-top: 3px;
} */
.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    position: absolute;
    top: 130px;
    right: 10px;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.play:hover {
    opacity: 1;
    transition: all 0.5s ease-out;
}

.button > *{
    margin: 0 12px;
}

.signup-Btn {
    background-color: #343434;
    color: rgba(252, 252, 252, 0.61);
    font-weight: bold;
    border: none;
    outline: none;
}
.signup-Btn:hover {
    font-size: 14px;
    cursor: pointer;
    color: white;
}

.login-Btn{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.login-Btn:hover{
    font-weight: bold;
}

.playbar{
    position: fixed;
    bottom: 10px;
    filter: invert(1);
    background: #dad5d5;
    border-radius: 15px;
    width: 70vw;
    padding: 15px;
    height: 40px;
}

.songBtn{
    display: flex;
    justify-content: center;
}

.songlist{
    height: 430px;
    overflow: auto;
    margin-bottom: 44px;
}

.songlist ul{
    padding: 0 10px;
}
.songlist ul li{
    list-style-type: none;
    display: flex; 
    justify-content: space-between;
    gap: 14px;
    cursor: pointer;
    border: 1px solid white;
    margin: 12px;
    padding: 10px;
    border-radius: 5px;

}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 250px; */
}

.seekbar{
    height: 2px;
    width: 96%;
    background: black;
    position: absolute;
    border-radius: 10px;
    bottom: 7px;
    margin: 6px;
}

.circle{
    width: 15px;
    height: 15px;
    border-radius: 13px;
    background: black;
    position: relative;
    bottom: 7px;
    transition: left 0.5s;
}

.songBtn img{
    cursor: pointer;
}

.Info-Btn-Time{
    display: flex;
    justify-content: space-between;
}